.directoryBox {
    display: inline-block;
    width: 300px;
    height: 500px;
    border: 1px solid darkgrey;
    border-radius: 1px 5px;
    padding: 20px;
    vertical-align: top;
}

.controlBox {
    display: inline-block;
    width: 120px;
    height: 500px;
    border: 1px solid darkgrey;
    border-radius: 1px 5px;
    padding: 20px;
    vertical-align: top;
}

.addDirectory {
    cursor: pointer;
}

.addNote {
    cursor: pointer;
}

.removeElement {
    cursor: pointer;
}